.pdm-python
dist/
__pypackages__/
pdm_bump.egg-info/
**/__pycache__/**.tox
.package.log
.package.lock
**/__pycache__/**/*.pyc
pytest.*.xml
.coverage
results/
install-output.json
radon.*.json
.venv
build/
.idea/sonarlint/
.idea
