SPDX-License-Identifier: MIT

Copyright (c) ${years} ${owner}.

This file is part of ${projectname}
(see ${projecturl}).

This file is published using the MIT license.
Refer to LICENSE for more information
